.DS_Store
**/scratch
**/.ipynb_checkpoints

**/manuscript

**/not_used
**/watershed
**/great_lakes
**/grid_WGS84_ES
**/ribbons_WGS84_ES
**/grid_WGS84_ES
**/lake_michigan
**/rivers
**/states
**/output_3D
**/river_inputs
phosphorus_avg_MJJA.nc
ptr_tave.0000315360.data.nc
ptr_tave.0000473040.data.nc
ptr_tave.0000631152.data.nc
ptr_tave.0000788832.data.nc
tave.0000315360.data.nc
tave.0000473040.data.nc
tave.0000631152.data.nc
tave.0000788832.data.nc
ptr_tave.0000473040.surf.nc
ptr_tave.0000788832.surf.nc
ptr_tave.0000315360.surf.nc
ptr_tave.0000631152.surf.nc
co-est2017-alldata.csv
dolan_pload_1994_2008_MTyr.csv
